@{
    ViewData["Title"] = "Home Page";
}
@model UserViewModel
<div class="text-center">
    <h1 class="display-4">@Model.UserName</h1>
    <h1 class="display-4">@Model.FirstName</h1>
    <h1 class="display-4">@Model.LastName</h1>
    <h1 class="display-4">@Model.Email</h1>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
